CONSTRAINTS:
student_admissions_id_not_null: NOT NULL id
student_admissions_full_name_not_null: NOT NULL full_name
student_admissions_gender_not_null: NOT NULL gender
student_admissions_dob_not_null: NOT NULL dob
student_admissions_aadhaar_number_not_null: NOT NULL aadhaar_number
student_admissions_mobile_number_not_null: NOT NULL mobile_number
student_admissions_whatsapp_number_not_null: NOT NULL whatsapp_number
student_admissions_email_id_not_null: NOT NULL email_id
student_admissions_residential_address_not_null: NOT NULL residential_address
student_admissions_city_not_null: NOT NULL city
student_admissions_state_not_null: NOT NULL state
student_admissions_pin_code_not_null: NOT NULL pin_code
student_admissions_parent_name_not_null: NOT NULL parent_name
student_admissions_relationship_not_null: NOT NULL relationship
student_admissions_parent_mobile_not_null: NOT NULL parent_mobile
student_admissions_occupation_not_null: NOT NULL occupation
student_admissions_highest_qualification_not_null: NOT NULL highest_qualification
student_admissions_year_of_passing_not_null: NOT NULL year_of_passing
student_admissions_institution_name_not_null: NOT NULL institution_name
student_admissions_board_university_not_null: NOT NULL board_university
student_admissions_medium_of_study_not_null: NOT NULL medium_of_study
student_admissions_course_interested_not_null: NOT NULL course_interested
student_admissions_course_level_not_null: NOT NULL course_level
student_admissions_mode_of_training_not_null: NOT NULL mode_of_training
student_admissions_career_goal_not_null: NOT NULL career_goal
student_admissions_willing_to_relocate_not_null: NOT NULL willing_to_relocate
student_admissions_counsellor_name_not_null: NOT NULL counsellor_name
student_admissions_counsellor_code_not_null: NOT NULL counsellor_code
student_admissions_referral_source_not_null: NOT NULL referral_source
student_admissions_counselling_date_not_null: NOT NULL counselling_date
student_admissions_course_name_not_null: NOT NULL course_name
student_admissions_course_fees_not_null: NOT NULL course_fees
student_admissions_total_fees_not_null: NOT NULL total_fees
student_admissions_paid_fees_not_null: NOT NULL paid_fees
student_admissions_payment_mode_not_null: NOT NULL payment_mode
student_admissions_payment_date_not_null: NOT NULL payment_date
student_admissions_balance_amount_not_null: NOT NULL balance_amount
student_admissions_student_declaration_not_null: NOT NULL student_declaration
student_admissions_parent_declaration_not_null: NOT NULL parent_declaration
student_admissions_placement_ack_not_null: NOT NULL placement_ack
student_admissions_discipline_ack_not_null: NOT NULL discipline_ack
student_admissions_photo_consent_not_null: NOT NULL photo_consent
student_admissions_refund_policy_ack_not_null: NOT NULL refund_policy_ack
student_admissions_data_privacy_ack_not_null: NOT NULL data_privacy_ack
student_admissions_final_undertaking_not_null: NOT NULL final_undertaking
student_admissions_emergency_contact_name_not_null: NOT NULL emergency_contact_name
student_admissions_emergency_contact_number_not_null: NOT NULL emergency_contact_number
student_admissions_emergency_authorized_not_null: NOT NULL emergency_authorized
student_admissions_pkey: PRIMARY KEY (id)
student_admissions_enquiry_id_key: UNIQUE (enquiry_id)
student_admissions_enquiry_id_fkey: FOREIGN KEY (enquiry_id) REFERENCES student_enquiries(enquiry_id)
student_admissions_created_by_id_fkey: FOREIGN KEY (created_by_id) REFERENCES users(id)
student_admissions_age_not_null: NOT NULL age
